<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Liste des utilisateurs</title>
</head>
<body>
	<h1>Liste des utilisateurs</h1>
	<table border="1">
		<thead>
			<tr>
			   <th>ID</th>
			   <th>Name</th>
			   <th>Prenom</th>
			   <th>Email</th>
			</tr>		
		</thead>
	   <tbody>
	   		<tr th:each="Users : ${Users}">
                <td th:text="${Users.id}"></td>
                <td th:text="${Users.first_Name}"></td>
                <td th:text="${Users.last_name}"></td>
                <td th:text="${Users.mail}"></td>
            </tr>
	   </tbody>
	</table>
</body>
</html>